body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

#logo, #my-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    position: relative;
    top: 15rem;
}

#logo img{
    margin-left: -3rem;;
}

#left-nav, #right-nav {
    position: absolute;
    top: 30px;
}

#left-nav {
    left: 10px;
}

#right-nav {
    right: 10px;
}

a {
    text-decoration: none;
    padding: 0 10px;
    font-size: 16px;
}

#results {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 95%;
    margin: auto;
    top: 200px;
}

.card {
    display:flex;
    flex-direction:row;
    margin-bottom: 10px;
}
.cardText{
  margin-left: 10px;
}

.cardImage {
    width:200px;
    margin-right:0;
}
